/* h1 {
    color: blue;
}
.Anvesh {
    border: 5px solid green;
    padding: 20px;

    width: 30%;
    text-align: justify;
    color: white;
    background-color: black;
    background-image: url(https://img.freepik.com/free-photo/courage-man-jump-through-gap-hill-business-concept-idea_1323-262.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
} */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table th{
    background-color: lightgray;
}
